* {
  background: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition: none;
}

window#waybar {
  background: ${BLACK_CSS_085};
  border-radius: 0;
  box-shadow: none;
  color: ${FG};
  font-family: "Mononoki Nerd Font", monospace, sans-serif;
  font-size: 13.5px;
}

#network:hover,
#bluetooth:hover {
  opacity: 1;
}

#clock {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 6px 0;
  opacity: 0.8;
}

#tray,
#network,
#bluetooth,
#battery {
  opacity: 0.7;
  color: ${GRAY_MID};
  padding: 5px 0;
}

#custom-expand-icon {
  padding: 6px 0;
}

#tray menu {
  background: ${BLACK_CSS_08};
}

#network {
  margin-right: 4px;
}

#workspaces button {
  font-size: 14.5px;
  color: ${FG};
  padding: 0;
}

#workspaces button.focused {
  color: ${CYAN};
}

#workspaces button.active {
  color: ${CYAN};
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.urgent {
  color: ${RED};
}

#battery.critical {
  color: ${RED};
}

tooltip {
  background: ${BLACK_CSS_08};
}

tooltip * {
  color: ${FG_ACCENT};
  margin: 0 0 0 10px;
}

#custom-idle-indicator {
  margin-top: 10px;
  font-size: 10px;
  opacity: 0.7;
  color: ${GRAY_MID};
}

#custom-screenrecord-indicator {
  margin-top: 10px;
  font-size: 10px;
  color: ${RED};
}

#custom-webcam-indicator {
  margin: 10px 0 0 -2px;
  font-size: 10px;
  color: ${RED};
}

#custom-screenshare-indicator {
  margin-top: 10px;
  font-size: 12px;
  color: ${RED};
}

#custom-microphone-indicator {
  margin-top: 10px;
  font-size: 14.5px;
  color: ${GREEN};
}

#custom-notifications {
  margin-top: 10px;
  font-size: 12px;
  color: ${RED};
}

#custom-dnd {
  margin: 10px 0 0 -3px;
  font-size: 13px;
  opacity: 0.7;
  color: ${GRAY_MID};
}
