style "style.css"
hot-reload

components {
    wallpaper
    bar
    notify
    osd
}

wallpaper {
    path "~/background.jpg"
}

osd {
    position "bottom-center"
    timeout 1
    display-percentage

    volume { increment 3; }
    brightness { increment 5; }
}

notify {
    position "top-right"
    timeout 5
    lines 3
    hide-actions
    sticky-critical
}

bar {
    orientation "vertical"
    thickness 36

    module "idle" {
        mode "refresh"
        signal 1
        command "~/.config/waybar/indicators/idle.sh"
    }

    module "dnd" {
        mode "refresh"
        signal 2
        command "~/.config/waybar/indicators/dnd.sh"
    }

    module "niri-column-indicator" {
        mode "stream"
        restart-on-failure
        command "niri-column-indicator" layout="vertical" inactive="○" active="●" hide-single=true
    }

    module "niri-workspaces" {
        mode "stream"
        restart-on-failure
        command "~/projects/kara/target/release/kara-module-niri-workspaces"
    }

    module "battery" {
        mode "stream"
        restart-on-failure
        command "~/projects/kara/target/release/kara-module-battery"

        config {
            warning 20
            critical 10
            notify-critical true

            format {
                discharging "{icon}"
                charging "{icon}"
                plugged ""
                full "󰂅"
            }

            icons {
                default "󰁺" "󰁻" "󰁼" "󰁽" "󰁾" "󰁿" "󰂀" "󰂁" "󰂂" "󰁹"
                charging "󰢜" "󰂆" "󰂇" "󰂈" "󰢝" "󰂉" "󰢞" "󰂊" "󰂋" "󰂅"
            }
        }
    }

    left {
        time { format "%H\n%M"; }
        date { format "%d"; }

        item "idle" {
            module "idle"
            kind "text"
        }

        item "dnd" {
            module "dnd"
            kind "text"
        }
    }

    center {
        item "workspaces" {
            module "niri-workspaces"
            kind "segments"
        }
    }

    right {
        item "battery" {
            module "battery"
            kind "text"
            on-click "dot-menu" "power"
        }

        item "column-indicator" {
            module "niri-column-indicator"
            kind "text"
        }
    }
}
