bar {
  background-color: #1b212a;
  color: #98a2b0;
  font-family: Noto Sans Mono;
  font-size: 14px;
}

bar-item.idle {
    font-size: 12px;
    padding: 10px;
}
bar-item.clock {
    padding: 6px;
    line-height: 22px;
}
bar-item.workspaces {
    font-size: 14px;
    line-height: 24px;

    bar-segment.active { color: #d9a86c; }
    bar-segment.empty { color: #5a6265; }
    bar-segment.focused-empty { color: #7a644b; }
    bar-segment.focused { color: #d9a86c; }
    bar-segment.urgent {
        background-color: #d9a86c;
        color: #12161c;
        padding: 4px 0px;
    }
}
bar-item.battery {
    padding: 0px 0px 6px;

    bar-segment.warning { color: #d9a86c; }
    bar-segment.critical { color: #d77c73; }
}

notify {
  width: 300px;
  background-color: #050607e6;
  border-color: #50555773;
  border-width: 0px;
  padding: 7px;
  margin: 5px;
  outer-margin: 5px;
  max-icon-size: 32px;
  color: #d5dcde;
  font-size: 13px;
}

notify.critical { color: #d77c73; }

osd {
  background-color: #050607e6;
  progress-background-color: #303a49;
  border-color: #50555773;
  border-width: 0px;
  color: #d5dcde;
  font-size: 14px;
  outer-margin: 40px;
}
