bar {
  background-color: #1b212a;
  color: #98a2b0;
  font-family: RobotoMono Nerd Font Mono;
  font-size: 15px;
}

bar-item.idle {
    padding: 2px;
    font-size: 13px;
}
bar-item.dnd {
    padding: 2px;
    font-size: 17px;
}
bar-item.time {
    padding: 6px 0px 0px;
}
bar-item.date {
    color: #5a6265;
    padding: 6px 0px 8px;
}
bar-item.screenrecord {
    padding: 2px;
    color: #d77c73;
}
bar-item.workspaces {
    font-size: 14px;
    line-height: 25px;

    bar-segment.active { color: #b887c0; }
    bar-segment.empty { color: #5a6265; }
    bar-segment.focused { color: #b887c0; }
    bar-segment.focused-empty { color: #80488973; }
    bar-segment.urgent {
        background-color: #d77c73;
        color: #12161c;
    }
}
bar-item.battery {
    padding: 0px 0px 6px;

    bar-segment.warning { color: #d9a86c; }
    bar-segment.critical { color: #d77c73; }
}
bar-item.column-indicator {
    font-size: 11px;
    line-height: 18px;
    padding: 6px 0px;
}

notify {
  width: 300px;
  background-color: #050607e6;
  border-width: 0px;
  padding: 7px;
  margin: 5px;
  outer-margin: 5px;
  max-icon-size: 32px;
  color: #d5dcde;
  font-size: 13px;
}

notify.critical { color: #d77c73; }

osd {
  background-color: #050607e6;
  progress-background-color: #303a49;
  border-width: 0px;
  color: #d5dcde;
  font-family: RobotoMono Nerd Font Mono;
  font-size: 14px;
  outer-margin: 60px;
}
