[Unit]
Description=First login setup
Requires=mako.service
After=mako.service
ConditionPathExists=%h/.first-login

[Service]
Type=oneshot
ExecStart=/usr/bin/makoctl mode -a dnd
ExecStartPost=/usr/bin/rm -f %h/.first-login

[Install]
WantedBy=graphical-session.target
