[Unit]
Description=Elephant service
After=graphical-session.target

[Service]
Type=simple
ExecStart=elephant
Restart=always
RestartSec=5
KillMode=process

[Install]
WantedBy=default.target
