[Unit]
Description=Niri Window Manager

[Service]
ExecStart=/usr/bin/niri-session
Restart=always
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
