[Unit]
Description=Wallpaper daemon
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -m stretch -i "%h/background.jpg"
Restart=on-failure

[Install]
WantedBy=graphical-session.target
