[Unit]
Description=Idle lock and suspend
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle \
  timeout 300 "loginctl lock-session" \
  timeout 600 "dot-cmd-suspend" \
  lock "dot-launch-lock-screen" \
  before-sleep "loginctl lock-session"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
