* {
  background: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition: none;

}

window#waybar {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0;
  box-shadow: none;
  color: #cfd8dc;
  font-family: "Mononoki Nerd Font", monospace, sans-serif;
  font-size: 13.5px;
}

#network:hover,
#bluetooth:hover {
  opacity: 1;
}

#clock {
  font-weight: 600;
  font-size: 16px;
  padding: 6px 0;
  opacity: 0.7;
}

#network,
#bluetooth,
#battery {
  opacity: 0.7;
  color: #9aa2ad;
  padding: 6px 0;
}

#network {
  margin-right: 4px;
}

#workspaces button {
  font-size: 15.5px;
  padding: 0;
}

#workspaces button.focused {
  color: #56b6c2;
}

#workspaces button.urgent {
  background-color: #e06c75;
}

#workspaces button.active {
  color: #56b6c2;
}

#workspaces button.empty {
  opacity: 0.5;
}


/* #network.disabled { */
/*   color: @color1; */
/* } */
/**/
/* #bluetooth.disabled { */
/*   color: @color1; */
/* } */
/**/
/* #battery.plugged { */
/*   color: @color4; */
/* } */
/* #battery.charging { */
/*   color: @color2; */
/* } */

#battery.critical {
  color: #e06c75;
}

tooltip {
  background: rgba(0, 0, 0, 0.8);
}

tooltip * {
  color: #CDD6F4;
  margin: 0 0 0 10px;
}
