* {
  background: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition: none;

}

window#waybar {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0;
  box-shadow: none;
  color: #cfd8dc;
  font-family: "SpaceMono Nerd Font Mono", monospace, sans-serif;
  font-size: 16px;
}

#network:hover,
#bluetooth:hover {
  opacity: 0.5;
}

#clock,
#network,
#bluetooth,
#battery {
  color: #cfd8dc;
  padding: 6px 0;
}

#workspaces button.focused {
  color: #cfd8dc;
  font-weight: 700;
}

#workspaces button.active {
  color: #cfd8dc;
  opacity: 0.8;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button {
  background: transparent;
  color: #cfd8dc;
  font-size: 24px;
  padding: 0;
}

/* #network.disabled { */
/*   color: @color1; */
/* } */
/**/
/* #bluetooth.disabled { */
/*   color: @color1; */
/* } */
/**/
/* #battery.plugged { */
/*   color: @color4; */
/* } */
/* #battery.charging { */
/*   color: @color2; */
/* } */
/* #battery.critical { */
/*   color: @color3; */
/* } */

tooltip {
  background: rgba(0, 0, 0, 0.8);
}
tooltip * {
  color: #CDD6F4;
  margin: 0, 0, 0, 10px;
}
