/* Reset all modules and the bar itself */
* {
  background: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition: none;
}

/* The main bar container */
window#waybar {
  background: rgba(0, 0, 0, 0.8);
  color: #cfd8dc;
  font-family: "SpaceMono Nerd Font Mono", sans-serif;
  font-size: 12px;
}

/* Specifically clean up workspace buttons */
#workspaces button {
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  background: transparent;
  color: #cfd8dc;
}

#workspaces button.focused,
#workspaces button.active {
  color: #ffffff;
  font-weight: 700;
}

#workspaces button.empty {
  opacity: 0.5;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#cpu,
#battery,
#pulseaudio,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

tooltip {
  padding: 2px;
  background: rgba(0, 0, 0, 0.8);
}
