# Example config

VM_CONNECT_URI=qemu:///system
VM_BASE_NAME=dotfiles-arch-base
VM_NAME_PREFIX=dotfiles-test-
VM_NETWORK=default
VM_RESULTS_DIR="$HOME/VMs/dotfiles/test-results"
VM_WAIT_TIMEOUT=120

VM_SSH_USER=dotfiles-user
VM_SSH_KEY="$HOME/.local/state/dotfiles-vm/id_ed25519"
VM_SSH_KNOWN_HOSTS="$HOME/.local/state/dotfiles-vm/known_hosts"
VM_BOOTSTRAP_URL=https://raw.githubusercontent.com/viacoffee/dotfiles/master/bootstrap.sh
VM_INSTALL_BRANCH=installer-refactor
