// Animation Settings
animations {
  off

  workspace-switch {
    off
  }
  window-open {
    off
  }
  window-close {
    off
  }
  horizontal-view-movement {
    spring damping-ratio=1.0 stiffness=1500 epsilon=0.0001
  }
  window-movement {
    spring damping-ratio=1.0 stiffness=1500 epsilon=0.0001
  }
  window-resize {
    spring damping-ratio=1.0 stiffness=1500 epsilon=0.0001
  }
  config-notification-open-close {
    off
  }
  screenshot-ui-open {
    duration-ms 300
    curve "ease-out-quad"
  }
  overview-open-close {
    off
  }
}
