// spawn-at-startup "wl-paste" "--watch" "cliphist" "store"

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// -------------------------------------------------------------------
// Inputs
// -------------------------------------------------------------------
input {
  focus-follows-mouse
  disable-power-key-handling
  warp-mouse-to-focus mode="center-xy"

  keyboard {
    xkb {}

    repeat-delay 300
    repeat-rate 50
    numlock
  }
}

// -------------------------------------------------------------------
// Output/display
// -------------------------------------------------------------------
/-output "eDP-1" {
  // niri msg outputs
}

output "HDMI-A-1" {
  mode "3440x1440@59.973"
  scale 1
  focus-at-startup

  hot-corners {
    off
  }
}

// -------------------------------------------------------------------
// Layout
// -------------------------------------------------------------------
layout {
  gaps 0
  always-center-single-column
  center-focused-column "on-overflow"

  default-column-width { proportion 0.33333; }

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  preset-window-heights {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  focus-ring {
    width 0
    active-color "#7fc8ff"
    inactive-color "#505050"
  }

  border {
    width 0
    active-color "#56b6c2"
    inactive-color "#505050"
    urgent-color "#9b0000"
  }

  struts {
    right 50
  }

  shadow {
    off
  }
}

// Animation Settings
animations {
  workspace-switch {
    off
  }
  window-open {
    off
    // duration-ms 200
    // curve "ease-out-quad"
  }
  window-close {
    off
    // duration-ms 200
    // curve "ease-out-cubic"
  }
  horizontal-view-movement {
    spring damping-ratio=1.0 stiffness=1500 epsilon=0.0001
  }
  window-movement {
    spring damping-ratio=1.0 stiffness=1500 epsilon=0.0001
  }
  window-resize {
    spring damping-ratio=1.0 stiffness=1500 epsilon=0.0001
  }
  config-notification-open-close {
    spring damping-ratio=0.6 stiffness=1200 epsilon=0.001
  }
  screenshot-ui-open {
    duration-ms 300
    curve "ease-out-quad"
  }
  overview-open-close {
    spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
  }
}

cursor {
  xcursor-size 18
  hide-when-typing
}

// -------------------------------------------------------------------
// Keybinds
// -------------------------------------------------------------------
hotkey-overlay {
  skip-at-startup
  hide-not-bound
}

// System
binds {
  //Mod+Shift+r { reload-config; }
  // Spawn terminal
  Mod+Return { spawn "sh" "-c" "coffee-launch-terminal"; }

  // Lock
  Mod+Shift+q {
    spawn "sh" "-c" "coffee-lock-screen"
  }

  // Power fuzzel dmenu
  Mod+Escape {
    spawn "sh" "-c" "coffee-menu system"
  }

  // General fuzzel dmenu
  Mod+Alt+Space {
    spawn "sh" "-c" "coffee-menu"
  }

  // Clipboard
  Mod+C { spawn "sh" "-c" "wl-paste | wl-copy"; }
  Mod+V { spawn "wl-paste"; }

  // File browser
  Mod+Shift+f {
    spawn "thunar" "--name" "float.thunar"
  }

  // Btop
  Mod+Shift+t {
    spawn "sh" "-c" "coffee-launch-btop"
  }

  Mod+Alt+i {
    spawn "sh" "-c" "coffee-toggle-idle"
  }

  // Window focus
  Mod+h { focus-column-left; }
  Mod+j { focus-window-down; }
  Mod+k { focus-window-up; }
  Mod+l { focus-column-right; }

  // Cycle workspaces
  Mod+d { focus-workspace-down; }
  Mod+u { focus-workspace-up; }

  // Move windows (shift)
  Mod+Shift+h { move-column-left; }
  Mod+Shift+l { move-column-right; }
  Mod+Shift+j { move-window-down; }
  Mod+Shift+k { move-window-up; }

  // Resize windows
  Mod+Ctrl+h { set-column-width "-10%"; }
  Mod+Ctrl+l { set-column-width "+10%"; }
  Mod+Ctrl+j { set-window-height "+10%"; }
  Mod+Ctrl+k { set-window-height "-10%"; }

  // Layout & window actions
  Mod+w { close-window; }
  Mod+f { fullscreen-window; }
  Mod+t { toggle-window-floating; }
  Mod+m { center-column; }
  Mod+Shift+m { center-visible-columns; }
  Mod+o { switch-preset-column-width; }

  // Close all but the focused window
  Mod+Shift+W {
    spawn "sh" "-c" "niri_close_all_but_focused"
  }

  // Workspaces
  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }

  Mod+Shift+1 { move-window-to-workspace 1; }
  Mod+Shift+2 { move-window-to-workspace 2; }
  Mod+Shift+3 { move-window-to-workspace 3; }
  Mod+Shift+4 { move-window-to-workspace 4; }
  Mod+Shift+5 { move-window-to-workspace 5; }

  // Screengrabs
  // Area to clipboard
  //Mod+p {
  //  spawn "grim -g \"$(slurp)\" - | wl-copy"
  //}

  // Area to clipboard
  Mod+Shift+p {
    screenshot
  }

  Mod+Alt+p {
    screenshot-screen
  }

  Ctrl+Alt+Delete { quit; }
}

// Global window
window-rule {
  draw-border-with-background false
}

// Unfocused window transparency
window-rule {
  match is-focused=false
  opacity 0.95
}

// For floating windows and misc system/about tuis
window-rule {
  match app-id="Alacritty" title="coffee.about"
  match app-id="Alacritty" title="coffee.btop"
  match app-id="Alacritty" title="coffee.float-tui"
  match app-id="float.thunar"

  open-floating true
  open-focused true

  default-window-height { proportion 0.4; }
  default-column-width { proportion 0.3; }
}

// Additional sizing for thunar
window-rule {
  match app-id="float.thunar"
  default-window-height { proportion 0.4; }
  default-column-width { proportion 0.3; }
}

// Firefox Picture-in-Picture
window-rule {
  match app-id="firefox$" title="^Picture-in-Picture$"

  open-floating true
  default-column-width { fixed 480; }
  default-window-height { fixed 270; }
}

// Steam dialogs
window-rule {
    match app-id=r#"steam"# title=r#".*(Friends|Settings|Properties).*"#
    open-floating true
}

// Environment Variables
environment {
  QT_QPA_PLATFORM "wayland"
  GDK_BACKEND "wayland,x11,*"
  SDL_VIDEODRIVER "wayland"
  MOZ_ENABLE_WAYLAND "1"
  ELECTRON_OZONE_PLATFORM_HINT "wayland"
  OZONE_PLATFORM "wayland"
  XDG_SESSION_DESKTOP "niri"
  GTK_THEME "Adwaita:dark"
}
