include "bindings.kdl"
include "window-rules.kdl"
// include optional=true "window-rules.laptop.kdl"
include "animations.kdl"

switch-events {
  lid-close { spawn "dot-cmd-shutdown"; }
}

spawn-at-startup "uwsm" "finalize"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
prefer-no-csd

hotkey-overlay {
  skip-at-startup
  hide-not-bound
}

// No Mod+tab or Alt+Tab overlays
recent-windows { off; }

// Inputs
input {
  // focus-follows-mouse
  disable-power-key-handling
  warp-mouse-to-focus mode="center-xy"

  keyboard {
    xkb {
      options "compose:rctrl,lv5:caps_switch"
    }

    repeat-delay 300
    repeat-rate 50
    numlock
  }

  touchpad {
    click-method "clickfinger"
  }
}

// Cursor
cursor {
  xcursor-size 18
  hide-when-typing
}

// Output displays
// niri msg outputs
output "eDP-1" {
  mode "2256x1504@59.999"
  scale 1.5
  focus-at-startup

  hot-corners {
    off
  }

  layout {
    default-column-width { proportion 0.5; }

    preset-column-widths {
      proportion 0.5
      proportion 0.66667
    }

    focus-ring {
      off
    }
  }
}

output "HDMI-A-1" {
  mode "3440x1440@59.973"
  scale 1
  focus-at-startup

  hot-corners {
    off
  }

  layout {
    default-column-width { proportion 0.33333; }

    preset-column-widths {
      proportion 0.33333
      proportion 0.5
      proportion 0.66667
    }

    preset-window-heights {
      proportion 0.33333
      proportion 0.5
      proportion 0.66667
    }

    focus-ring {
      off
    }
  }
}

// Layout
layout {
  always-center-single-column
  background-color "#1e2229"
  gaps 0

  focus-ring {
    off
  }

  border {
    width 1
    inactive-color "#1b212a"
    active-color "#5c6370"
  }

  shadow {
    off
  }

  struts {
    right 51
  }

}

// Environment Variables
environment {
  QT_QPA_PLATFORM "wayland"
  GDK_BACKEND "wayland,x11,*"
  SDL_VIDEODRIVER "wayland"
  MOZ_ENABLE_WAYLAND "1"
  ELECTRON_OZONE_PLATFORM_HINT "wayland"
  OZONE_PLATFORM "wayland"
  XDG_SESSION_DESKTOP "niri"
  GTK_THEME "Adwaita:dark"
}
