// Laptop overrides — uncomment include in config.kdl to activate

window-rule {
  match app-id="Alacritty"
  open-maximized-to-edges true
}

window-rule {
  match app-id="dot.float"
  match app-id="org.gnome.Nautilus"
  match app-id="mpv"
  match app-id="imv"

  default-window-height { proportion 0.5; }
  default-column-width { proportion 0.6; }
}
